.main{
    width: 500px;
    margin: auto;
    text-align:center;
}
.header{
    font-size: 40px;
    padding-bottom: 20px;
}
.form input{
    padding: 5px 15px;
    margin-right: 15px;
    width: 350px;
    height: 30px;
}
.form button{
    background-color: midnightblue;
    color: #fff;
    padding: 12px 15px;
    border: none;
    cursor: pointer;
}
.todo{
    margin-top: 20px;
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
    border-radius: 5px;
    border-bottom: 2px solid lightslategrey;
}
.active{
    background-color: khaki;
}
.active .favorite button{
    color: orange;
}
.todo .text{
    font-size: 25px;
}
.todo .favorite button, .todo .delete button{
    font-size: 30px;
}
.todo .favorite button{
    background-color: inherit;
    border: none;
    cursor: pointer;
}
.delete button{
    color: red;
    background-color: inherit;
    border: none;
    cursor: pointer;
    padding: 10px;
    outline: none;

}
